spring:
  sql:
    init:
      mode: always
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: 'jdbc:postgresql://localhost:5432/db'
    username: username
    password: password